@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,700);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Poppins";
  font-weight: 400;
}

.app {
  display: flex;
  flex-direction: column;
  padding: 0px 15px 50px;
  align-items: center;
  gap: 30px;
  position: relative;
}

.hangman {
  position: relative;

  & div {
    background-color: black;
    transition: all 0.4s;
  }

  &-basis {
    width: 250px;
    height: 10px;
  }

  &-column {
    width: 10px;
    height: 400px;
    position: relative;
    left: 120px;
  }

  &-outcrop {
    width: 250px;
    height: 10px;
    position: relative;
    left: 120px;
  }

  &-rope {
    width: 10px;
    height: 70px;
    position: relative;
    left: 360px;
    top: 80px;
  }

  &-head {
    width: 100px;
    height: 100px;
    border: 10px solid black;
    background-color: transparent !important;
    border-radius: 50%;
    position: absolute;
    top: 150px;
    right: -165px;

    &.inactive {
      width: 0px;
      height: 0px;
      border: none;
    }
  }

  &-body {
    width: 10px;
    height: 130px;
    position: absolute;
    top: 245px;
    right: -120px;

    &.inactive {
      height: 0px;
    }
  }

  &-left-arm,
  &-right-arm,
  &-left-leg,
  &-right-leg {
    height: 10px;
    width: 120px;
    position: absolute;

    &.inactive {
      width: 0px;
    }
  }

  &-left-arm {
    top: 290px;
    right: -112px;
    transform: rotate(30deg);
    transform-origin: right bottom;
  }

  &-right-arm {
    top: 290px;
    right: -238px;
    transform: rotate(-30deg);
    transform-origin: left bottom;
  }

  &-left-leg {
    top: 365px;
    right: -117px;
    transform: rotate(-45deg);
    transform-origin: right bottom;
  }

  &-right-leg {
    top: 365px;
    right: -230px;
    transform: rotate(45deg);
    transform-origin: left bottom;
  }
}

.main-word {
  display: flex;
  gap: 25px;
  align-items: center;

  &-letter {
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 10px;
    display: grid;
    place-items: center;
    width: 40px;
    border-bottom: 5px solid black;

    &.hidden:not(:first-child, :last-child) {
      color: transparent;
      user-select: none;
    }
  }
}

.keyboard {
  display: grid;
  width: 60%;
  grid-template-columns: repeat(auto-fill, minmax(75px, 1fr));
  grid-template-rows: auto;
  gap: 15px;

  &-btn {
    cursor: pointer;
    font-weight: 700;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: black;
    border: 2px solid black;
    background: none;
    transition: all 0.2s;

    @media (min-width: 768px) {
      &:hover {
        background-color: #0770cc;
        color: white;
      }
    }

    &-correct{
      background-color: #0770cc;
      color: white;
    }

    &-incorrect,
    &-incorrect:hover{
      background-color: red;
      color: white;
    }

  }
}


.modal{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.689);

  &-container{
    background-color: white;
    width: 80%;
    height: 50%;
    min-height: 300px;
    border-radius: 20px;
    padding: 40px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  &-btn{
    background-color: #0770cc;
    color: white;
    padding: 15px;
    border-radius: 15px;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    margin-top: 30px;

    @media (min-width: 768px){
      &:hover{
        filter: brightness(.9);
      }
    }
  }

  &-word{
    font-weight: 700;
    font-size: 1.8rem;
  }

  &-message{
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  p{
    font-style: italic;
    
  }
}